.body-index {
    background-color: #3498db;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    letter-spacing: 1px;
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

h1 {
    color: #3498db;
    font-size: 30px;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.go-to-quiz-button,
.go-to-first-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.go-to-first-button {
    font-size: 14px;
    margin-bottom: 20px;
}

.go-to-quiz-button:hover {
    background-color: #2980b9;
}


body {
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-image: url("../images/background.webp");
    background-size: cover;
    /* Controls how the image is sized */
    background-repeat: no-repeat;
    /* Prevents image from repeating */
}

h2 {
    text-align: center;
    letter-spacing: 2px;
}

#quiz-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

#question-container {
    text-align: center;
    margin-bottom: 20px;
}

#question-image {
    max-width: 100%;
    max-height: 200px;
}

#options-container {
    display: flex;
    flex-direction: column;
}

.option {
    margin: 5px 0;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.option:hover {
    background-color: #2980b9;
}

#score-container {
    text-align: center;
    margin-top: 20px;
}

#result-container {
    text-align: center;
    margin-top: 20px;
    display: none;
}

#result-message {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}


#dancing-icon {
    width: 50px;
    /* Adjust the size as needed */
    height: auto;
    z-index: 999;
    /* Ensure the icon appears on top of other content */
}


#reset-button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #27ae60;
}


#icon-container {
    text-align: center;
    position: relative;
}

#dancing-icon,
#sad-icon {
    width: 150px;
    /* Adjust the size as needed */
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
    /* Add some spacing between the icon and the button */
    margin-left: 40%;
}

#restart-button {
    padding: 10px 20px;
    /* Adjust padding */
    font-size: 16px;
}

/* CSS for styling the score table */
#score-table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #3498db;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#score-table th,
#score-table td {
    border: 2px solid #3498db;
    padding: 8px;
    text-align: center;
    color: black;
    font-size: 14px;
}

#score-table th {
    background-color: #3498db;
    color: white;
}

#score-table tr:nth-child(even) {
    background-color: #e6e6e6;
}

#score-table tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 460px) {
    h1 {
        color: #3498db;
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .container {
        font-size: 90%;
    }

    #dancing-icon,
    #sad-icon {
        width: 100px;
        margin-left: 37%;
    }

    #result-message {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .container {
        font-size: 80%;
    }

    #sad-music-container,
    #happy-music-container {
        transform: scale(0.7);
    }

    #dancing-icon,
    #sad-icon {
        width: 100px;
        margin-left: 31%;
    }

    #result-message {
        font-size: 14px;
    }
}